*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root{
  --sug: rgba(255, 255, 255, 0.7);
  --border: 2px solid rgba(0, 0, 0, 0.1);
  --back: rgb(244, 244, 255);
  --t-color: rgb(0, 0, 0);
  --tp-color: rgba(0, 0, 0, 0.904);
}

.app{
  background-color: var(--back);
  color: var(--t-color);
  transition: 1s ease-in-out;
}

body::-webkit-scrollbar{
  display: none;
}
.app::-webkit-scrollbar{
  display: none;
}

.preload{
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  transition: .5s ease-in-out;
  z-index: 2000;
  background-color: #fff;
  left: 0;
}

.leave{
  display: none; 
}

.pImg{
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
  margin-top: -2rem;
  overflow: hidden;
}

.pImg img{
  width: 250%;
}

.navArea {
  position: relative;
  padding: 1.5rem;
  border: 1px solid rgba(184, 189, 206, 0.359);
}

.stay{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navArea .logo img{  
  width: 10rem;
  filter: var(--filter);
}

.navArea .textBox{
  padding: 10px 1rem;
  border: none;
  background-color: rgba(184, 189, 206, 0.459);
  border-radius: .5rem;
  font-size: .75rem;
  color: var(--t-color);
  width: 16.5rem;
  outline: none;
}

.navArea .textBox::placeholder{
  color: var(--tp-color);
}

.midCard{
  color: var(--t-color);
  padding: .5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin: 0 .8rem;
}

.midCard .spanCard{
  border: 1px solid rgba(184, 189, 206, 0.19);
  box-shadow: 0 0 15px rgba(184, 189, 206, 0.1);
  border-radius: .4rem;
  display: flex;
  justify-content: center;
  transition: .2s ease-in-out;
  cursor: pointer;
  padding: .5rem;
  align-items: center;
}

.midCard .spanCard:hover{
  box-shadow: 0 0 15px rgba(184, 189, 206, 0.2);
  background-color: rgba(255, 255, 255, .5);
  margin-bottom: .15rem;
}

.midCard .spanCard img{
  width: 5rem;
  margin-right:1rem;
  margin-left: -10px;
}

.midCard .spanCard .text{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  justify-content: center;
}

.trending{
  padding: .5rem;
  display: flex;
  margin-top: -5px;
  align-content: center;
  overflow-x: auto;
  gap: 10px; 
}

.trending .trendingCard{
  display: flex;
  border: 1px solid rgba(184, 189, 206, 0.19);
  box-shadow: 0 0 15px rgba(184, 189, 206, 0.1); 
  min-width: 25rem;
  width: 25rem;
  border-radius: .4rem;
  justify-content: center;
  cursor: pointer;
  padding: .5rem;
  gap: 15px;
  align-items: center;
}

.trending .trendingCard:hover{
  background-color: rgba(184, 189, 206, 0.19);
}

.trending .trendingCard img{
  width: 1rem;
}
.trending .trendingCard .text {
  display: flex;
  gap: 10px;
  align-items: center;
}
.trending .trendingCard .text .status{
  display: flex; 
  gap: 10px;
  align-items: center;
  font-size: .8rem;
}

.trending .trendingCard .text .status span{
  font-weight: 600;
}

.MainList{
  padding: .5rem;
  overflow-x: auto;
}

table{
  width: 98%;
  margin: 0 auto;
  overflow-x: auto;
  border: 1px solid rgba(184, 189, 206, 0.1);
  font-size: .75rem;
}
tr{
  border: 1px solid rgba(184, 189, 206, 0.459);
}

tr:hover{
  background-color: rgba(184, 189, 206, 0.159);
}
tr:active{
  background-color: rgba(184, 189, 206, 0.259);
}
td{
  padding: 10px;
  cursor: pointer;
  border: 1px solid rgba(184, 189, 206, 0.459);
  text-align: right;
}
.ted{
  width: 95vw;
  overflow: hidden;
  
  margin: 0 auto;
}

.coinInfoMini{
  display: flex;
  gap: 10px;
  margin-top: .6rem;
  justify-content: left;
  align-items: center;
}

.coinInfoMini img{
  height: 1.5rem;
}

.coinInfoMini .text{
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
  gap: 10px;
}

.up{
  color: rgb(20, 238, 20);
}

.loss{
  color: rgb(238, 71, 20);
}
.watch{
  color: gold;
}

a, a:link, a:visited, a:hover, a:active{
  color: var(--t-color);
  text-decoration: none;
}

/* Info Card */

.infoCard{
  width: 98vw;
  margin: 0 auto;
  padding: 10px;
}

.infoCard .top{
  display: flex;
  padding: 1rem 0 2rem 0;
  align-items: center;
  justify-content: space-between;
}

.infoCard .top .left .data{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: .5rem;
  gap: 15px;
  align-items: center;
}

.infoCard .top .left .data img{
  height: 2.2rem;
}

.bold{
  font-size: 2.2rem;
  font-weight: 450;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.infoCard .top .left .data span:nth-child(3){
  background-color: rgba(206, 208, 211, 0.6);
  padding: .2rem .6rem;
  font-size: .9rem;
  border-radius: .4rem;
  cursor: pointer;
}
.ico{
  padding: .2rem .6rem;
  border: 1px solid rgba(184, 189, 206, 0.259);
  border-radius: .4rem;
  font-size: .8rem;
  cursor: pointer;
}
.infoCard .top .left section:nth-child(2){
  display: flex;
  gap: 10px;
  font-size: .85rem;
}

.infoCard .top .left section:nth-child(2) span{
  padding: .2rem .6rem;
  border-radius: .4rem;
  font-size: .75rem;
  font-weight: 400;
  cursor: pointer;
}

.infoCard .top .left section:nth-child(2) span:first-child{
  background-color: rgb(156, 158, 160);
  color: #fff;
}

.infoCard .top .left section:nth-child(2) span{
  background-color: rgba(206, 208, 211, 0.6);
}

.infoCard .top .right{
  font-size: .75rem;
  height: fit-content;
  text-align: right;
  margin-bottom: -33px;
}

.infoCard .top .right p{
  padding: 0;
  margin: 0;
}

.infoCard .top .right .data{
  display: flex;
  gap: 10px;
  align-items: center;
  /* margin-bottom: ; */
}

.infoCard .top .right .data span{
  padding: .4rem .7rem;
  height: fit-content;
  border-radius: .4rem;
  color: #fff;
  font-weight: 500;
}

.infoUp{
  background-color: rgb(37, 245, 182);
}
.t-down{
  color: rgb(250, 46, 46);
}
.infoDown{
  background-color: rgb(250, 46, 46);
}

.infoCard .top .right .data span .i{
  font-size: .9rem;
  margin: 0 5px 0 0;
}

.market{
  display: grid;
  border: 1px solid rgba(184, 189, 206, 0.259);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.market .cap{
  padding: 2rem;
  margin: 2rem 0;
  border-right: 1px solid rgba(184, 189, 206, 0.259);
}

.market .cap section:first-child{
  margin-bottom: 3rem;
}

.market .cap:last-child{
  border: none;
}

.market .cap .h6:nth-child(1){
  opacity: .6;
}

.chart-con{
  display: grid;
  width: 98vw;
  padding: 0 1rem;
  grid-template-columns: 1fr .5fr;
}

.chart{
  width: 98%;
}

.converter{
  display: grid;
  position: relative;
  border-radius: .6rem;
  gap: 3px;
  max-width: 100%;
  border: var(--border);
  margin: 1.5rem 20px 2rem 0;
}

.converter > *{
  display: flex;
  gap: 10px;
  width: 100%;
  background-color: rgba(0, 0, 0, .03);
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.converter div{
  transition: .5s ease-in-out;
  opacity: .8;
}

.converter .main{
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
  opacity: 1;
}

.converter div .con-txt{
  display: flex;
  gap: 10px;
  font-size: .9rem;
  transition: .2s ease-in-out;
  margin: 0 20px;
  width: 100%;
  align-items: center;
}

.converter div .con-txt > span{
  display: grid;
}

.converter div .con_inp{
  background-color: transparent;
  border: none;
  font-size: 1.25rem;
  color: var(--t-color);
  flex: 1;
  margin: 0 10px 0 0;
  transition: .2s ease-in-out;
  text-align: right;
  outline: none;
  height: 5rem;
}

.converter .main .con_inp{
  font-weight: 600;
  font-size: 1.5rem;
}

.con_inp::-webkit-outer-spin-button, .converter div .con_inp::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
.con_inp{
  -moz-appearance: textfield;
}
.converter .con-txt img{
  height: 2rem;
  border-radius: 25%;
}
.sort{
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  border: 2px solid rgba(0, 0, 0, .1);
  background-color: rgb(255, 255, 255);
  top: 40%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  left: 45%;
}

.sort img{
  width: 120%;
}

.sideInfo{
  border: var(--border);
  border-radius: .5rem;
  padding: 20px;
  background-color: rgba(0, 0, 0, .03);
  margin-top: 1.5rem;
}

.little{
  opacity: .5;
  font-size: .8rem;
  margin: 2rem 0;
}
.sideInfo ul{
  padding: 0;
  height: 100%;
  display: grid;
}
.sideInfo li{
  display: flex;
  font-size: .9rem;
  justify-content: space-between;
  border-bottom: var(--border);
  padding: 17.85px 0;
}
.sideInfo li:last-child{
  border: none;
}

.sideInfo li .tag{
  opacity: .8;
}

.sideInfo li .tagInfo{
  font-weight: 450;
  font-size: 1rem;
}



/* Suggestions */
.suggest {
  position: absolute;
  color: var(--t-color);
  right: 0;
  transition: .2s ease-in-out;
  margin-right: 1.5rem;
  width: 16.5rem;
  z-index: 10;
  backdrop-filter: blur(2.5px);
  max-height: 15rem;
  border-radius: .4rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  background-color: var(--sug);
  overflow: auto;
}

.suggest .empty{
  cursor: default;
  background-color: transparent;
  display: flex;
  font-size: .8rem;
  color: rgb(255, 0, 76);
  align-content: center;
  justify-content: center;
}

.suggest .empty:hover{
  background-color: transparent;
}

.suggest::-webkit-scrollbar{
  display: none;
}

.sug-title{
  font-size: .75rem;
  padding: 10px;
  opacity: .7;
  color: rgb(20, 114, 238);
}

.suggest ul{
  display: grid;
  padding: 0;
}

.suggest ul li{
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 5px;
  text-transform: capitalize;
  padding: 10px;
  font-size: .85rem;
  list-style-type: none;
}

.suggest ul li:hover{
  background-color: rgba(0, 0, 0, 0.05);
}

.suggest ul li img{
  height: 1rem;
}
.hide{
  display: none;
}